
.customer-journey-home{
    margin-top: 10rem;
}

.md\:text-4xl {
    font-size: 2.25rem;
  }
  .font-bold {
    font-weight: 700;
  }
  .text-gray-700 {
    color: #4a5568;
  }
  
  .text-base {
    font-size: 1.2em;
  }
  .leading-relaxed {
    line-height: 1.625;
  }
  .text-justify {
    text-align: justify;
  }
  .mt-2 {
    margin-top: 0.5rem;
  }
  
  
  .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 100%;
    }
    
    .grid > * {
       /* Adjust this value to add spacing between elements */
      padding: 5px;
      box-sizing: border-box;
    }
  
    .inner-img {
      width: 260px;
      height: 250px;
    }
  
    
    .ant-card-body {
      text-align: center;
      
    }
  
    .card:hover .ant-card-cover {
      transform: scale(1.05);
      z-index: 1;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 6px 12px rgba(0,0,0,0.1);
    }
  
    
  
    .carousel-cell {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      animation-name: carousel-animation;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    
    .carousel-cell:first-of-type {
      opacity: 1;
    }
    
    .carousel-cell:nth-of-type(1) {
      animation-delay: 0s;
    }
    
    .carousel-cell:nth-of-type(2) {
      animation-delay: 1s;
    }
    
    .carousel-cell:nth-of-type(3) {
      animation-delay: 2s;
    }
    
    .carousel-cell:nth-of-type(4) {
      animation-delay: 3s;
    }
    
    .carousel-cell:nth-of-type(5) {
      animation-delay: 4s;
    }
    
    @keyframes carousel-animation {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  
  
    